@media only screen and (max-width: 1239px)
{
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.9s ease-out;
        height: 450px;
        
        
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }  
    .burger{
        display: block;
    }  
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .boxmain{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
}